In [1]:
import pandas as pd

In [5]:
date = '2019-12-07'
path = '../data/{}_alarms.csv'.format(date)

In [6]:
df = pd.read_csv(path)

In [7]:
df

,id_module,row_data,message_time,message_head,message_body
0,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 00:01:36.720410,Alarm,Ciśnienie odparowania za niskie
1,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 00:25:18.733215,Alarm,Ciśnienie odparowania za niskie
2,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 00:49:09.815397,Alarm,Ciśnienie odparowania za niskie
3,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 01:12:44.381738,Alarm,Ciśnienie odparowania za niskie
4,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 01:36:39.930503,Alarm,Ciśnienie odparowania za niskie
5,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 02:00:04.126059,Alarm,Ciśnienie odparowania za niskie
6,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 02:46:56.677686,Alarm,Ciśnienie odparowania za niskie
7,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 02:23:32.612967,Alarm,Ciśnienie odparowania za niskie
8,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 03:10:34.239886,Alarm,Ciśnienie odparowania za niskie
9,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 03:57:53.923138,Alarm,Ciśnienie odparowania za niskie
10,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 04:21:18.008881,Alarm,Ciśnienie odparowania za niskie
11,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 04:44:55.563305,Alarm,Ciśnienie odparowania za niskie
12,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 05:32:15.727516,Alarm,Ciśnienie odparowania za niskie
13,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 05:55:52.863378,Alarm,Ciśnienie odparowania za niskie
14,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 06:19:35.681710,Alarm,Ciśnienie odparowania za niskie
15,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 06:43:22.912174,Alarm,Ciśnienie odparowania za niskie
16,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 07:06:37.320332,Alarm,Ciśnienie odparowania za niskie
17,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 07:30:28.418587,Alarm,Ciśnienie odparowania za niskie
18,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 07:54:15.750436,Alarm,Ciśnienie odparowania za niskie
19,23082,"{'raw_data': '30002,0,4018,25,0,-1,0,0,0'}",2019-12-07 08:35:04.890307,Alarm,Ciśnienie odparowania za niskie
20,23082,"{'raw_data': '30002,0,3565,25,0,-1,0,0,0'}",2019-12-07 13:19:26.219893,Alarm,Błąd presostatu niskiego ciśnienia
21,5599,"{'raw_data': '30002,0,3508,25,0,-1,0,0,0'}",2019-12-07 16:02:42.412459,Alarm,Brak przepływu