In [41]:
import pandas as pd

date= '2020-01-12'
path = '../data/{}.csv'.format(date)

In [42]:
df = pd.read_csv(path)

In [43]:
df = df.sort_values('time')
df.time = pd.to_datetime(df.time)

In [44]:
df = df[(df.id_module == 23082) & (df.id_status == 1022)]

In [45]:
df['godz_min'] = df.time.apply(lambda val: val.time())

In [46]:
df

,id_module,id_status,value,time,godz_min
4418,23082,1022,"1022,5011,1,1,1,1385,197,-1,-1,1",2020-01-12 00:00:19.479007,00:00:19.479007
286,23082,1022,"1022,5011,1,1,1,1385,197,-1,-1,1",2020-01-12 00:01:19.804196,00:01:19.804196
4903,23082,1022,"1022,5011,1,1,1,1385,447,-1,-1,1",2020-01-12 00:02:20.066601,00:02:20.066601
771,23082,1022,"1022,5011,1,1,1,1385,591,-1,-1,1",2020-01-12 00:03:20.376753,00:03:20.376753
5388,23082,1022,"1022,5011,1,1,1,1385,624,-1,-1,1",2020-01-12 00:04:20.670404,00:04:20.670404
...,...,...,...,...,...
687185,23082,1022,"1022,5011,1,1,1,1385,728,-1,-1,1",2020-01-12 23:55:10.215361,23:55:10.215361
687670,23082,1022,"1022,5011,1,1,1,1385,739,-1,-1,1",2020-01-12 23:56:10.478216,23:56:10.478216
688155,23082,1022,"1022,5011,1,1,1,1385,734,-1,-1,1",2020-01-12 23:57:10.819150,23:57:10.819150
688640,23082,1022,"1022,5011,1,1,1,1385,738,-1,-1,1",2020-01-12 23:58:11.252617,23:58:11.252617
689125,23082,1022,"1022,5011,1,1,1,1385,750,-1,-1,1",2020-01-12 23:59:11.547674,23:59:11.547674